/* ----------------------------------------- */
/* BASIC SETUP */
/* ----------------------------------------- */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    background-color: #fff;
    color: #555;
    font-family: 'Raleway','Arial','sans-serif';
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}

/* ----------------------------------------- */
/* REUSABLE COMPONENTS */
/* ----------------------------------------- */

.row{
    max-width: 1140px;
    margin:0 auto;
}

/* ------------ HEADINGS -------------*/

h1{
    margin-top: 0;
    margin-bottom: 10px;
    color: #fff;
    font-size: 250%;
    font-weight: 400;
    letter-spacing: 1px;
    word-spacing: 3px;
}

/* ------------ BUTTONS -------------*/
.btn:link,
.btn:visited{
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    color: #fff;
}

.btn:hover,
.btn:active{
    border: 1px solid #BF55EC;
    color: #BF55EC;    
}

.btn-full:link,
.btn-full:link{
        border:1px solid #e67e22;
}

.btn-ghost:link,
.btn-ghost:link{
    border:1px solid #e67e22;
}

/* ----------------------------------------- */
/* HEADERS */
/* ----------------------------------------- */

header{
    background-image: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)),url("cssimg/digital_coastal_beach_sunset-wide.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.hero-text-box{
    position: absolute;
    width: 1140px;
    top: 50%;
    left:50%;   
    transform: translate(-50%,-50%);
}

.main-nav{
    margin-top: 50px;
    float: right;
    list-style: none;
}

.main-nav li{
    display:inline-block;
    margin-left:40px;
}

.main-nav li a:link,
.main-nav li a:visited{
    padding: 4px 0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    transition: border-botton .3s;
}

.main-nav li a:hover,
.main-nav li a:active{
    border-bottom: 2px solid #BF55EC;
}

.sub-nav{
    display: none;
    position: absolute;
    margin-top: 5px;
    min-width: 160px;
    z-index: 1;
    border-bottom: none;
}

.sub-nav a {
    text-decoration: none;
    display: block;
}

.sub-nav a:hover,
.sub-nav a:active{
        color: #BF55EC!important;     
        border: none!important;
}

#list1:hover .sub-nav {
    display: block;
}